/* 
#E66082
#ADCE70
#27F6F6
#91658B
#FFAC3F
*/
.skeleton-level-0 {
  background-color: #e66082;
  color: black;
}
.skeleton-level-1 {
  background-color: #adce70;
  color: black;
}
.skeleton-level-2 {
  background-color: #27f6f6;
  color: black;
}
.skeleton-level-3 {
  background-color: #91658b;
  color: black;
}
.skeleton-level-4 {
  background-color: #ffac3f;
  color: black;
}
.skeleton-level-5 {
  background-color: #e66082;
  color: black;
}
.skeleton-level-6 {
  background-color: #adce70;
  color: black;
}
.skeleton-level-7 {
  background-color: #27f6f6;
  color: black;
}
.skeleton-level-8 {
  background-color: #91658b;
  color: black;
}
.skeleton-level-9 {
  background-color: #ffac3f;
  color: black;
}
.skeleton-level-10 {
  background-color: #e66082;
  color: black;
}
.skeleton-level-11 {
  background-color: #adce70;
  color: black;
}
.skeleton-level-12 {
  background-color: #27f6f6;
  color: black;
}
