/* 
175, 27, 63
153, 194, 77
8, 189, 189
71, 49, 68
255, 153, 20
*/
.skeleton-level-0 {
  background-color: rgba(175, 27, 63, 1) !important;
  color: black !important;
}
.skeleton-level-1 {
  background-color: rgba(153, 194, 77, 1) !important;
  color: black !important;
}
.skeleton-level-2 {
  background-color: rgba(8, 189, 189, 1) !important;
  color: black !important;
}
.skeleton-level-3 {
  background-color: rgba(71, 49, 68, 1) !important;
  color: black !important;
}
.skeleton-level-4 {
  background-color: rgba(255, 153, 20, 1) !important;
  color: black !important;
}
.skeleton-level-5 {
  background-color: rgba(175, 27, 63, 1) !important;
  color: black !important;
}
.skeleton-level-6 {
  background-color: rgba(153, 194, 77, 1) !important;
  color: black !important;
}
.skeleton-level-7 {
  background-color: rgba(8, 189, 189, 1) !important;
  color: black !important;
}
.skeleton-level-8 {
  background-color: rgba(71, 49, 68, 1) !important;
  color: black !important;
}
.skeleton-level-9 {
  background-color: rgba(255, 153, 20, 1) !important;
  color: black !important;
}
.skeleton-level-10 {
  background-color: rgba(175, 27, 63, 1) !important;
  color: black !important;
}
.skeleton-level-11 {
  background-color: rgba(153, 194, 77, 1) !important;
  color: black !important;
}
.skeleton-level-12 {
  background-color: rgba(8, 189, 189, 1) !important;
  color: black !important;
}
