/* 
239, 71, 111
255, 209, 102
6, 214, 160
17, 138, 178
188, 182, 255
*/
.skeleton-level-0 {
  background-color: rgba(255, 0, 0, 1);
}
.skeleton-level-1 {
  background-color: rgba(239, 71, 111, 1);
}
.skeleton-level-2 {
  background-color: rgba(255, 209, 102, 1);
}
.skeleton-level-3 {
  background-color: rgba(6, 214, 160, 1);
}
.skeleton-level-4 {
  background-color: rgba(17, 138, 178, 1);
}
.skeleton-level-5 {
  background-color: rgba(188, 182, 255, 1);
}
.skeleton-level-6 {
  background-color: rgba(239, 71, 111, 1);
}
.skeleton-level-7 {
  background-color: rgba(255, 209, 102, 1);
}
.skeleton-level-8 {
  background-color: rgba(6, 214, 160, 1);
}
.skeleton-level-9 {
  background-color: rgba(17, 138, 178, 1);
}
.skeleton-level-10 {
  background-color: rgba(188, 182, 255, 1);
}
.skeleton-level-11 {
  background-color: rgba(239, 71, 111, 1);
}
.skeleton-level-12 {
  background-color: rgba(188, 182, 255, 1);
}
