.skeleton-level-0 {
  background-color: rgba(255, 0, 0, 0) !important;
  color: black !important;
}
.skeleton-level-1 {
  background-color: rgba(255, 0, 0, 0.05) !important;
  color: black !important;
}
.skeleton-level-2 {
  background-color: rgba(255, 0, 0, 0.1) !important;
  color: black !important;
}
.skeleton-level-3 {
  background-color: rgba(255, 0, 0, 0.15) !important;
  color: black !important;
}
.skeleton-level-4 {
  background-color: rgba(255, 0, 0, 0.2) !important;
  color: black !important;
}
.skeleton-level-5 {
  background-color: rgba(255, 0, 0, 0.25) !important;
  color: black !important;
}
.skeleton-level-6 {
  background-color: rgba(255, 0, 0, 0.3) !important;
  color: black !important;
}
.skeleton-level-7 {
  background-color: rgba(255, 0, 0, 0.35) !important;
  color: black !important;
}
.skeleton-level-8 {
  background-color: rgba(255, 0, 0, 0.4) !important;
  color: black !important;
}
.skeleton-level-9 {
  background-color: rgba(255, 0, 0, 0.45) !important;
  color: black !important;
}
.skeleton-level-10 {
  background-color: rgba(255, 0, 0, 0.5) !important;
  color: black !important;
}
.skeleton-level-11 {
  background-color: rgba(255, 0, 0, 0.55) !important;
  color: black !important;
}
.skeleton-level-12 {
  background-color: rgba(255, 0, 0, 0.6) !important;
  color: black !important;
}
