.skeleton-level-0 {
  background-color: rgba(255, 0, 0, 0);
}
.skeleton-level-1 {
  background-color: rgba(255, 0, 0, 0.05);
}
.skeleton-level-2 {
  background-color: rgba(255, 0, 0, 0.1);
}
.skeleton-level-3 {
  background-color: rgba(255, 0, 0, 0.15);
}
.skeleton-level-4 {
  background-color: rgba(255, 0, 0, 0.2);
}
.skeleton-level-5 {
  background-color: rgba(255, 0, 0, 0.25);
}
.skeleton-level-6 {
  background-color: rgba(255, 0, 0, 0.3);
}
.skeleton-level-7 {
  background-color: rgba(255, 0, 0, 0.35);
}
.skeleton-level-8 {
  background-color: rgba(255, 0, 0, 0.4);
}
.skeleton-level-9 {
  background-color: rgba(255, 0, 0, 0.45);
}
.skeleton-level-10 {
  background-color: rgba(255, 0, 0, 0.5);
}
.skeleton-level-11 {
  background-color: rgba(255, 0, 0, 0.55);
}
.skeleton-level-12 {
  background-color: rgba(255, 0, 0, 0.6);
}
