.skeleton-x98h7f0-0 {
  background-color: hsla(309, 17%, 85%, 1);
}
.skeleton-x98h7f0-1 {
  background-color: hsla(69, 76%, 50%, 1);
}
.skeleton-x98h7f0-2 {
  background-color: hsla(174, 62%, 55%, 1);
}
.skeleton-x98h7f0-3 {
  background-color: hsla(353, 81%, 58%, 1);
}
.skeleton-x98h7f0-4 {
  background-color: hsla(35, 100%, 61%, 1);
}
.skeleton-x98h7f0-5 {
  background-color: hsla(309, 17%, 60%, 1);
}
.skeleton-x98h7f0-6 {
  background-color: hsla(69, 76%, 35%, 1);
}
.skeleton-x98h7f0-7 {
  background-color: hsla(174, 62%, 40%, 1);
}
.skeleton-x98h7f0-8 {
  background-color: hsla(353, 81%, 73%, 1);
}
.skeleton-x98h7f0-9 {
  background-color: hsla(35, 100%, 76%, 1);
}
.skeleton-x98h7f0-10 {
  background-color: hsla(309, 17%, 85%, 1);
}
.skeleton-x98h7f0-11 {
  background-color: hsla(69, 76%, 50%, 1);
}
.skeleton-x98h7f0-12 {
  background-color: hsla(174, 62%, 55%, 1);
}
