.skeleton-x98h7f0-0 {
  background-color: hsla(0, 50%, 0%, 1);
}
.skeleton-x98h7f0-1 {
  background-color: hsla(0, 50%, 7%, 1);
}
.skeleton-x98h7f0-2 {
  background-color: hsla(0, 50%, 14%, 1);
}
.skeleton-x98h7f0-3 {
  background-color: hsla(0, 50%, 21%, 1);
}
.skeleton-x98h7f0-4 {
  background-color: hsla(0, 50%, 28%, 1);
}
.skeleton-x98h7f0-5 {
  background-color: hsla(0, 50%, 35%, 1);
}
.skeleton-x98h7f0-6 {
  background-color: hsla(0, 50%, 42%, 1);
}
.skeleton-x98h7f0-7 {
  background-color: hsla(0, 50%, 49%, 1);
}
.skeleton-x98h7f0-8 {
  background-color: hsla(0, 50%, 56%, 1);
}
.skeleton-x98h7f0-9 {
  background-color: hsla(0, 50%, 63%, 1);
}
.skeleton-x98h7f0-10 {
  background-color: hsla(0, 50%, 70%, 1);
}
.skeleton-x98h7f0-11 {
  background-color: hsla(0, 50%, 77%, 1);
}
.skeleton-x98h7f0-12 {
  background-color: hsla(0, 50%, 84%, 1);
}
