.skeleton-x98h7f0-0 {
  background: none !important;
  background-color: hsla(0, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-1 {
  background: none !important;
  background-color: hsla(25, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-2 {
  background: none !important;
  background-color: hsla(50, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-3 {
  background: none !important;
  background-color: hsla(75, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-4 {
  background: none !important;
  background-color: hsla(100, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-5 {
  background: none !important;
  background-color: hsla(125, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-6 {
  background: none !important;
  background-color: hsla(150, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-7 {
  background: none !important;
  background-color: hsla(175, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-8 {
  background: none !important;
  background-color: hsla(200, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-9 {
  background: none !important;
  background-color: hsla(225, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-10 {
  background: none !important;
  background-color: hsla(250, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-11 {
  background: none !important;
  background-color: hsla(275, 50%, 50%, 1) !important;
}
.skeleton-x98h7f0-12 {
  background: none !important;
  background-color: hsla(300, 50%, 50%, 1) !important;
}
